<h2>All Users</h2>
<p>Here are all the other members of the community! Click on any of the names to see their running logs. </p>

<% @users.each do |user| %>
<ul class="runners">
  <a href="users/<%=user.slug%>"><%= user.username %></a>
</ul>
<% end %>
