<h1>Please Log In:</h1>

<form method="post" action="/login">
  <p><label>Username:</label></p>
  <input type="text" name="username">
  <br></br>

  <p><label>Password:</label></p>
  <input type="password" name="password">
  <br></br>

  <input type="submit" value="Login">
</form>

<p><a href="/">back</a></p>
