<h1>Please create an account to continue: </h1>

<form method="post" action="/signup">
  <p><label>Username:</label></p>
  <input type="text" name="username">
  <br></br>

  <p><label>Email:</label></p>
  <input type="text" name="email">
  <br></br>

  <p><label>Password:</label></p>
  <input type="password" name="password">
  <br></br>

  <input type="submit" value="Sign Up">
</form>

<p><a href="/">back</a></p>
