<h2>Insert statistics about your run below:</h2>

<form method="post" action="/runs/new">
  <p><label>Run Time (minutes):</label></p>
  <input type="text" name="time">

  <br></br>
  <p><label>Run Distance (miles):</label></p>
  <input type="text" name="distance">

  <br></br>
  <p><label>Run Description:</label></p>
  <input type="text" name="description">

  <input type="submit" value="Submit">
</form>
