<!DOCTYPE HTML>
<html>
  <head>
    <title>Hillevi's Running App</title>
  </head>
  <body>
    <%= yield %>
    <br><br>
    <% if logged_in? %>
    <h3>Navigation</h3>
      <ul class="nav">
        <li><a href="/runs/new">Add Run</a></li>
        <li><a href="/users/<%=current_user.slug%>">Running Log</a></li>
        <li><a href="/users">All Users</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    <% end %>
  </body>
</html>
