<!DOCTYPE HTML>
<html>
  <head>
    <title>Hillevi's Running App</title>
  </head>
  <body>

    <ul class="nav">
    <% if logged_in? %>
      <li><a href="/runs/new">Add a Run!</a></li>
      <li><a href="/users/<%=current_user.slug%>">Your Log Book</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/runs">List Runs</a></li>
      <li><a href="/logout">Log Out</a></li>
    <% end %>
      </ul>
    <%= yield %>

  </body>
</html>
